<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br />
    <%= f.collection_select(:customer_id, Customer.all, :id, :first_name ) %>
  </div>
  <div class="field">
    <%= f.label :product %><br />
    <<%= f.collection_select(:product_id, Product.all, :id, :model ) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :credit_card_no %><br />
    <%= f.text_field :credit_card_no %>
  </div>
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
