<h1>Store Sales</h1>
<%= link_to 'Add New Sale', new_sale_path %>
<br /><br />
<table class="table table-striped">
  <tr>
    <th>Customer</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Credit card no</th>
    <th>Discount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.customer.first_name %></td>
    <td><%= sale.product.model %></td>
    <td><%= sale.quantity %></td>
    <td><%= sale.credit_card_no %></td>
    <td><%= sale.discount %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>




<%= will_paginate %>