<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Dust Rise", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hotel App <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Customers", customers_path %></li>
                <li><%= link_to "Hotels", hotels_path %></li>
                <li><%= link_to "Rooms", rooms_path %></li>
                <li><%= link_to "Bookings", bookings_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Restaurant App <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Items", items_path %></li>
                <li><%= link_to "Orders", orders_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Store App <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Customers", customers_path %></li>
                <li><%= link_to "Products", products_path %></li>
                <li><%= link_to "Sales", sales_path %></li>
              </ul>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>